.navbar-brand {
  color: white !important;
}

h1, h2, h3, h4, strong {
  font-weight: 400 !important;
}

aside {
  margin-top: 100px !important;
}

main {
  margin-top: 100px !important;
}

.text-muted {
  color: lightgray !important;
}
